.works-main-img-ballet {
  background: url(/img/works_ballet.png) center center no-repeat;
  background-size: contain; }

.color-chipA {
  background: #696969; }

.color-chipB {
  background: #999; }

.color-chipC {
  background: #ccc; }

.color-chipD {
  background: #fff; }

.color-chipE {
  background: #dcdbb1; }
