// =====================================================
// keyframes
// =====================================================
@keyframes animation01 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
  100%{
    opacity: 1;
  }
}
@keyframes animation02 {
	0% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
  }
}
@keyframes animation03 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
  100%{
    opacity: 1;
  }
}

@keyframes horizontal {
  0% {
    transform:translateX( 0px);
    }
  100% {
    transform:translateX(  -10px);
  }
}
@keyframes vertical1 {
  0% {
      transform:translateY(0px);
  }
  100% {
    transform:translateY(  13px);
  }
}
@keyframes vertical2 {
  0% {
      transform:translateY( 0px);
  }
  100% {
    transform:translateY(  -15px);
  }
}
@keyframes vertical3 {
  0% {
      transform:translateY(0px);
  }
  100% {
    transform:translateY(  18px);
  }
}


// =====================================================
// animations @ovals
// =====================================================
.oval-fade-in1{
  opacity: 0;
  animation: fadeIn 1s ease-in-out, vertical1 1s ease-in-out infinite alternate, animation02 3s ease 7s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.oval-fade-in2{
  opacity: 0;
  animation: fadeIn 1s ease, vertical2 1s ease-in-out infinite alternate, animation02 4s ease 7s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 3.5s;
}
.oval-fade-in3{
  opacity: 0;
  animation: fadeIn 1s ease-in-out, vertical3 1s ease-in-out infinite alternate, animation02 4s ease 4s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
.oval-fade-in4{
  opacity: 0;
  animation: fadeIn 1s ease, vertical1 1s ease-in-out infinite alternate, animation02 3s ease 5s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 2.5s;
}
.oval-fade-in5{
  opacity: 0;
  animation: fadeIn 1s ease-in-out, vertical2 1s ease-in-out infinite alternate, animation02 4s ease 6s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

//opacty0.8
.oval-fade-in1-o{
  opacity: 0;
  animation: fadeIn-o 1s ease-in-out, vertical1 1s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.oval-fade-in2-o{
  opacity: 0;
  animation: fadeIn-o 1s ease, vertical2 1s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
  animation-duration: 3.5s;
}
.oval-fade-in3-o{
  opacity: 0;
  animation: fadeIn-o 1s ease-in-out, vertical3 1s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
.oval-fade-in4-o{
  opacity: 0;
  animation: fadeIn-o 1s ease, vertical1 1s ease-in-out infinite alternate,;
  animation-fill-mode: forwards;
  animation-duration: 2.5s;
}
.oval-fade-in5-o{
  opacity: 0;
  animation: fadeIn-o 1s ease-in-out, vertical2 1s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px){
	.oval-fade-in1{
	  opacity: 1;
	  animation: vertical1 1s ease-in-out infinite alternate, animation02 3s ease 7s infinite alternate-reverse;
	  animation-fill-mode: forwards;
	  animation-duration: 2s;
	}
	.oval-fade-in2{
	  opacity: 1;
	  animation: vertical2 1s ease-in-out infinite alternate, animation02 4s ease 7s infinite alternate-reverse;
	  animation-fill-mode: forwards;
	  animation-duration: 3.5s;
	}
	.oval-fade-in3{
	  opacity: 1;
	  animation: vertical3 1s ease-in-out infinite alternate, animation02 4s ease 4s infinite alternate-reverse;
	  animation-fill-mode: forwards;
	  animation-duration: 3s;
	}
	.oval-fade-in4{
	  opacity: 1;
	  animation: vertical1 1s ease-in-out infinite alternate, animation02 3s ease 5s infinite alternate-reverse;
	  animation-fill-mode: forwards;
	  animation-duration: 2.5s;
	}
	.oval-fade-in5{
	  opacity: 1;
	  animation: vertical2 1s ease-in-out infinite alternate, animation02 4s ease 6s infinite alternate-reverse;
	  animation-fill-mode: forwards;
	  animation-duration: 3s;
	}

	//opacty0.8
	.oval-fade-in1-o{
	  opacity: 0;
	  animation: vertical1 1s ease-in-out infinite alternate;
	  animation-fill-mode: forwards;
	  animation-duration: 2s;
	}
	.oval-fade-in2-o{
	  opacity: 0;
	  animation: vertical2 1s ease-in-out infinite alternate;
	  animation-fill-mode: forwards;
	  animation-duration: 3.5s;
	}
	.oval-fade-in3-o{
	  opacity: 0;
	  animation: vertical3 1s ease-in-out infinite alternate;
	  animation-fill-mode: forwards;
	  animation-duration: 3s;
	}
	.oval-fade-in4-o{
	  opacity: 0;
	  animation: vertical1 1s ease-in-out infinite alternate,;
	  animation-fill-mode: forwards;
	  animation-duration: 2.5s;
	}
	.oval-fade-in5-o{
	  opacity: 0;
	  animation: vertical2 1s ease-in-out infinite alternate;
	  animation-fill-mode: forwards;
	  animation-duration: 3s;
	}
}
