$primary: #C6C6C6;
$secondary: #AFA375;
$bg: #000321;
$white: #fff;
$hover-gradient1:rgba(0,8,101,0.3);
$hover-gradient2:rgba(0,3,33,0.8);
$hover-gradient3:rgba(0,8,101,0.2);
$hover-gradient4:rgba(0,3,33,0.6);
