footer{
  margin: 0 auto;
}
.visit-website{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  padding: 16px 40px;
  margin: 0 auto 100px;
  transition: 0.4s;
  &:hover{
      background: rgba(255,90,125,.90);
      border: 1px solid rgba(255,90,125,.90);
  }
}
