.works-main-img-marketas{
  background: url(/img/works_marketas.png) center center no-repeat;
  background-size: contain;
}
.color-chipA{
  background: #9f8964;
}
.color-chipB{
  background: #e8e4d3;
}
.color-chipC{
  border: 3px solid #606060;
  background: #000;
}
.color-chipD{
  background: #fff;
}
.color-chipE{
  background: #dcdbb1;
}
