// =====================================================
// career
// =====================================================
.career{
  position: absolute;
  left: 115%;
  top: -10vh;
  width: 800px;
  color: #ddd;
}
.career-hedding{
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 300;
}
.career-description{
  dt{
    float: left;
    padding-right: 10px;
  }
}

// =====================================================
// media screen max-height900px
// =====================================================
@media screen and (max-height: 900px) {
  .career{
    top: -4vh;
  }
}

// =====================================================
// media screen max-height700px
// =====================================================
@media screen and (max-height: 700px) {
  .career{
    left: 123%;
    top: 0vh;
    width: 700px;
  }
}

// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px){
  .career{
    left: 120%;
    top: 0vh;
    width: 700px;
  }
  .career-hedding {
    font-size: 2.0rem;
  }
}
// =====================================================
// media screen max-width800px
// =====================================================
@media screen and (max-width: 800px) {
  .about{
    position: relative;
    padding: 34px;
    left: 0;
  }
  .career{
    position: static;
    width: 75%;
    margin-left: 25%;
    margin-top: 100px;
    margin-bottom: 280px;
  }
}
// =====================================================
// media screen max-width718px
// =====================================================
@media screen and (max-width: 718px) {
  .career{
    margin-top: 75px;
  }
}
// =====================================================
// media screen max-width670px
// =====================================================
@media screen and (max-width: 670px) {
  .career {
    margin-left: 20%;
    margin-top: 40px;
  }
}
// =====================================================
// media screen max-width640px
// =====================================================
@media screen and (max-width: 640px) {
  .career {
    margin-top: 80px;
  }
}

// =====================================================
// media screen max-width612px
// =====================================================
@media screen and (max-width: 612px) {
  .career {
    margin-top: 160px;
  }
}

// =====================================================
// media screen max-width620px
// =====================================================
@media screen and (max-width: 620px) {
  .career{
    position: static;
    width: 91%;
    margin-left: 5%;
    margin-bottom: 280px;
  }
}

// =====================================================
// media screen max-width590px
// =====================================================
@media screen and (max-width: 590px) {
  .career {
    margin-top: 180px;
  }
}

// =====================================================
// media screen max-width550px
// =====================================================
@media screen and (max-width: 550px) {
  .career {
    margin-top: 150px;
  }
}

// =====================================================
// media screen max-width503px
// =====================================================
@media screen and (max-width: 503px) {
  .career {
    margin-top: 150px;
    margin-bottom: 180px;
  }
}

// =====================================================
// media screen max-width400px
// =====================================================
@media screen and (max-width: 400px) {
  .career {
    margin-top: 150px;
  }
  .about{
    padding: 20px;
  }
}
// =====================================================
// media screen max-width380px
// =====================================================
@media screen and (max-width: 380px) {
  .career {
    margin-top: 250px;
  }
  .about{
    padding: 20px;
  }
}
// =====================================================
// media screen max-width370px
// =====================================================
@media screen and (max-width: 370px) {
  .about {
    padding: 20px;
  }
}
