// =====================================================
// career
// =====================================================
.career{
  position: relative;
  top: -4vh;
  width: 800px;
  color: #ddd;
  margin-left: 285px;
}
.career-contents{
  position: absolute;
  top: 47%;
  left: 22%;
  width: 590px;
}
.career-hedding{
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 300;
}
.career-description{
  dt{
    float: left;
    padding-right: 10px;
  }
}
.experience{
  margin-top: 100px;
}
.experience, .education{
  width: 100%;
}

// =====================================================
// media screen max-height950px
// =====================================================
@media screen and (max-height: 950px) {
  .career-contents{
    top: 43%;
  }
}
// =====================================================
// media screen max-height900px
// =====================================================
@media screen and (max-height: 900px) {
  .career-contents{
    //top: 40%;
  }
}
// =====================================================
// media screen max-height850px
// =====================================================
@media screen and (max-height: 850px) {
  .career-contents{
    //top: 42%;
  }
}
// =====================================================
// media screen max-height780px
// =====================================================
@media screen and (max-height: 780px) {
  .career-contents{
  //  top: 38%;
  }
}
// =====================================================
// media screen max-height730px
// =====================================================
@media screen and (max-height: 730px) {
  .career-contents{
    //top: 34%;
  }
}

// =====================================================
// media screen max-height700px
// =====================================================
@media screen and (max-height: 700px) {
  .experience {
      margin-top: 60px;
  }
}

// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px) {
  .career-contents{
    left: 19%;
  }
}

// =====================================================
// media screen max-height550px
// =====================================================
@media screen and (max-height: 550px) {
  .career-contents{
    top: 39%;
  }
}

// =====================================================
// media screen max-height520px
// =====================================================
@media screen and (max-height: 520px) {
  .career-contents{
    top: 35%;
  }
}

// =====================================================
// media screen max-width800px
// =====================================================
@media screen and (max-width: 800px) {
  .career{
    position: static;
    margin-bottom: 740px;
    width: 65%;
    margin-top: 50px;
    margin-left: 20%;
  }
  .career-contents {
    top: 0;
    width: auto;
  }
  .experience, .education{
    width: 100%;
  }
  .experience {
    margin-top: 170px;
  }
}
// =====================================================
// media screen max-width720px
// =====================================================
@media screen and (max-width: 720px) {
  .career-contents {
      top: -30px;
  }
}
// =====================================================
// media screen max-width718px
// =====================================================
@media screen and (max-width: 718px) {
  .career{
    margin-top: 75px;
  }
}
// =====================================================
// media screen max-width670px
// =====================================================
@media screen and (max-width: 670px) {
  .career {
    margin-left: 20%;
    margin-top: 40px;
  }
}
// =====================================================
// media screen max-width640px
// =====================================================
@media screen and (max-width: 640px) {
  .career {
    margin-top: 80px;
  }
}

// =====================================================
// media screen max-width620px
// =====================================================
@media screen and (max-width: 620px) {
  .career{
    position: static;
    width: 91%;
    margin-left: 5%;
    margin-bottom: 280px;
  }
}

// =====================================================
// media screen max-width610px
// =====================================================
@media screen and (max-width: 610px) {
  .career {
    margin-bottom: 440px;
  }
}

// =====================================================
// media screen max-width612px
// =====================================================
@media screen and (max-width: 612px) {
  .career {
    margin-top: 160px;
  }
}

// =====================================================
// media screen max-width590px
// =====================================================
@media screen and (max-width: 590px) {
  .career {
    margin-top: 180px;
  }
}

// =====================================================
// media screen max-width550px
// =====================================================
@media screen and (max-width: 550px) {
  .career {
    margin-top: 150px;
    margin-bottom: 500px;
}
}

// =====================================================
// media screen max-width503px
// =====================================================
@media screen and (max-width: 503px) {
  .career {
    margin-top: 150px;
    margin-bottom: 180px;
  }
}
// =====================================================
// media screen max-width500px
// =====================================================
@media screen and (max-width: 500px) {
  .career-contents {
    left: 170px;
    width: 60%;
  }
  .career {
    margin-bottom: 510px;
  }
}

// =====================================================
// media screen max-width440px
// =====================================================
@media screen and (max-width: 440px) {
  .career-contents {
    top: -45px;
    width: 50%;
  }
}

// =====================================================
// media screen max-width400px
// =====================================================
@media screen and (max-width: 400px) {
  .career {
    margin-top: 150px;
    margin-bottom: 580px;
  }
  .about{
    padding: 20px;
  }
}
// =====================================================
// media screen max-width380px
// =====================================================
@media screen and (max-width: 380px) {
  .career {
    margin-top: 250px;
  }
  .about{
    padding: 20px;
  }
}
// =====================================================
// media screen max-width370px
// =====================================================
@media screen and (max-width: 370px) {
  .about {
    padding: 20px;
  }
  .career {
    margin-bottom: 450px;
  }
}

// =====================================================
// media screen max-width612px && max-height: 700px
// =====================================================
@media screen and (max-width: 612px) and (max-height: 700px) {
  .career {
      margin-bottom: 670px;
  }
}

// =====================================================
// media screen max-width587px && max-height: 700px
// =====================================================
@media screen and (max-width: 587px) and (max-height: 700px) {
  .career {
    margin-bottom: 600px;
    margin-bottom: 540px;
  }
}

// =====================================================
// media screen max-width339px && max-height: 700px
// =====================================================
@media screen and (max-width: 339px) and (max-height: 700px) {
  .career {
    margin-bottom: 500px;
  }
}

// =====================================================
// media screen max-width800px && max-height: 680px
// =====================================================
@media screen and (max-width: 800px) and (max-height: 680px) {
  .career {
    margin-bottom: 790px;
  }
}

// =====================================================
// media screen max-width800px && max-height: 620px
// =====================================================
@media screen and (max-width: 800px) and (max-height: 620px) {
  .career {
    margin-bottom: 870px;
  }
}

// =====================================================
// media screen max-width800px && max-height: 580px
// =====================================================
@media screen and (max-width: 800px) and (max-height: 580px) {
  .career {
    margin-bottom: 910px;
  }
}


// =====================================================
// media screen max-width670px && max-height: 380px
// =====================================================
@media screen and (max-width: 670px) and (max-height: 380px) {
  .career {
    margin-bottom: 970px;
  }
}

// =====================================================
// media screen max-width662px && max-height: 580px
// =====================================================
@media screen and (max-width: 662px) and (max-height: 580px) {
  .career {
    margin-bottom: 900px;
  }
}

// =====================================================
// media screen max-width630px && max-height: 580px
// =====================================================
@media screen and (max-width: 630px) and (max-height: 580px) {
  .career {
    margin-bottom: 860px;
  }
}

// =====================================================
// media screen max-width600px && max-height: 580px
// =====================================================
@media screen and (max-width: 600px) and (max-height: 580px) {
  .career {
    margin-bottom: 800px;
  }
}

// =====================================================
// media screen max-width560px && max-height: 580px
// =====================================================
@media screen and (max-width: 560px) and (max-height: 580px) {
  .career {
    margin-bottom: 580px;
  }
}

// =====================================================
// media screen max-width540px && max-height: 580px
// =====================================================
@media screen and (max-width: 540px) and (max-height: 580px) {
  .career {
    margin-bottom: 570px;
  }
}
// =====================================================
// media screen max-width480px && max-height: 780px
// =====================================================
@media screen and (max-width: 480px) and (max-height: 780px) {
  .career {
    margin-bottom: 600px;
  }
}

// =====================================================
// media screen max-width400px && max-height: 580px
// =====================================================
@media screen and (max-width: 400px) and (max-height: 580px) {
  .career {
    margin-bottom: 590px;
  }
}

// =====================================================
// media screen max-width380px && max-height: 670px
// =====================================================
@media screen and (max-width: 380px) and (max-height: 670px) {
  .career {
      margin-bottom: 490px;
  }
}
