// =====================================================
// html & body
// =====================================================
html{
  height: 100%;
}
body{
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: (24/12);
  background: $bg;
  color: $primary;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  height: 100%;
}
h1, h2, h3{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h1{
  letter-spacing: 0em;
}

button{
  font-family: 'Petit Formal Script', serif;
  font-weight: 300;
  border-radius: 10px;
}

// =====================================================
// common
// =====================================================
.logo{
  position: fixed;
  z-index: 2000;
  left: 20px;
  top: 30px;
}
//common oval
.common-oval{
  border-radius: 50%;
  position: absolute;
  opacity: 0.8;
}

.common-section-headding{
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 6.4rem;
}
//selected
::selection{
  background: rgba(255,90,125,.90);
  color: #eee;
}
::-moz-selection{
  background: rgba(255,90,125,.90);
  color: #eee;
}
// =====================================================
// media screen max-height800px
// =====================================================
@media screen and (max-height: 800px) {
	.common-section-headding{
		font-size: 5.0rem;
	}
}

// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px){
  body{
    font-size: 1.2rem;
  }
  .common-section-headding{
    font-size: 4.0rem;
  }
}

// =====================================================
// media screen max-width800px
// =====================================================
@media screen and (max-width: 800px) {
	body{
		overflow-y: inherit;
		overflow-x: hidden;
	}
  .common-section-headding{
    font-size: 5.0rem;
  }
}

// =====================================================
// media screen max-width382px
// =====================================================
@media screen and (max-width: 382px) {
  body{
    line-height: 1.6;
  }
  .common-section-headding{
    font-size: 4.0rem;
  }
}

// =====================================================
// media screen max-width667px && max-height: 500px
// =====================================================
@media screen and (max-width: 667px) and (max-height: 500px) {
  body{
  line-height: 1.4;
  }
}
