// =====================================================
// animations
// =====================================================
@keyframes animation01 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
  100%{
    opacity: 1;
  }
}
@keyframes animation02 {
	0% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
  }
}

@keyframes horizontal {
  0% {
    transform:translateX( -10px);
    }
  100% {
    transform:translateX(  0px);
  }
}
@keyframes vertical1 {
  0% {
      transform:translateY(13px);
  }
  100% {
    ransform:translateY(  0px);
  }
}
@keyframes vertical2 {
  0% {
      transform:translateY(-15px);
  }
  100% {
    ransform:translateY(  0px);
  }
}
@keyframes vertical3 {
  0% {
      transform:translateY(18px);
  }
  100% {
    ransform:translateY(  0px);
  }
}

// =====================================================
// html & body
// =====================================================
html{
  height: 100%;
}
body{
  overflow-y: hidden;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: (24/12);
  background: $bg;
  color: $primary;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  height: 100%;
}
h1, h2, h3{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h1{
  letter-spacing: 0em;
}
.container{
  margin: 0 0 0 0;
  padding: 30px;
  position: relative;
  height: 100vh;
  display: flex;
}
button{
  font-family: 'Petit Formal Script', serif;
  font-weight: 300;
  border-radius: 10px;
}

// =====================================================
// main & common
// =====================================================
.main-container{
  position: relative;
  height: 100%; //Fixed by Masa from 100vh
  left: 85%;
}
//common oval
.common-oval{
  border-radius: 50%;
  position: absolute;
  opacity: 0.8;
}
.common-line-oval{
  border: 1px solid $primary;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  display: none;
}
.common-section-headding{
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 6.4rem;
}
//selected
::selection{
  background: rgba(255,90,125,.90);
  color: #eee;
}
::-moz-selection{
  background: rgba(255,90,125,.90);
  color: #eee;
}
// =====================================================
// media screen max-height800px
// =====================================================
@media screen and (max-height: 800px) {
  .common-section-headding{
    font-size: 5.0rem;
  }
}
// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px){
  body{
    font-size: 1.2rem;
  }
  .container {
    padding: 20px;
  }
  .common-section-headding{
    font-size: 4.0rem;
  }
}

// =====================================================
// media screen max-width800px
// =====================================================
@media screen and (max-width: 800px) {
	body{
		overflow-y: inherit;
		overflow-x: hidden;
	}
  .container{
    position: static;
    padding: 0;
    overflow-y: initial;
    flex-direction: column;
    height: initial;
    width: 100%;
  }
  .main-container{
    position: inherit;
    height: inherit;
    width: 100%;
    overflow: hidden;
    padding: 0;
  }
  .common-section-headding{
    font-size: 5.0rem;
  }
}
// =====================================================
// media screen max-width382px
// =====================================================
@media screen and (max-width: 382px) {
  body{
    line-height: 1.6;
  }
  .common-section-headding{
    font-size: 4.0rem;
  }
}
// =====================================================
// media screen max-width667px && max-height: 500px
// =====================================================
@media screen and (max-width: 667px) and (max-height: 500px) {
  body{
  line-height: 1.4;
  }
}
