// =====================================================
// contact
// =====================================================
.contact{
  color: $primary;
  position: relative;
//  left: 8850px;
  width: 800px;
  height: 100%;
  max-width: 1000px;
  text-align: center;
  padding: 0;
  display: table;
  margin-left: 450px;
}
.contact-container{
  border: 1px solid $primary;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.contact-section-headding{
  margin-bottom: 20px;
}
.email{
  font-family: 'Petit Formal Script', serif;
}
.contact-list{
  margin-bottom: 10px;
}

// =====================================================
// media screen max-height960px
// =====================================================
@media screen and (max-height: 900px) {
  .contact-section-headding {
    margin-top: 0;
  }
}
// =====================================================
// media screen max-height800px
// =====================================================
@media screen and (max-height: 800px) {
  .contact-container{
    width: 730px;
  }
  .contact{
    width: 730px;
  }
}
// =====================================================
// media screen max-height700px
// =====================================================
@media screen and (max-height: 700px) {
  .contact{
    width: 670px;
  }
  .contact-section-headding {
    margin-top: -10px;
  }
  .contact-container {
    height: 91vh;
    width: 670px;
  }
}
// =====================================================
// media screen max-height700px
// =====================================================
@media screen and (max-height: 700px) {
  .contact{
    // width: 600px;
  }
}
// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px) {
  .contact{
    width: 520px;
  }
}

// =====================================================
// media screen max-width800px
// =====================================================
@media screen and (max-width: 800px) {
  .contact{
    position: relative;
    left: 0;
    margin: 50px auto 30px auto;
    width: 90%;
    height: 92vh;
    min-height: 400px;
  }
  .contact-container {
    width: 100%;
  }
}
