// =====================================================
// header oval
// =====================================================
$header-oval1-size:758px;
.header-oval1{
  left: 50px;
  top: -30%;
  width: $header-oval1-size;
  height: $header-oval1-size;
  background: linear-gradient(-180deg, #3EBAD0 40%, #389B84 100%);
  z-index: 90;
}

$header-oval2-size:158px;
.header-oval2{
  left: -40px;
  top: 30%;
  width: $header-oval2-size;
  height: $header-oval2-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
}
$header-oval3-size:340px;
.header-oval3{
  left: -20px;
  bottom: 5%;
  width: $header-oval3-size;
  height: $header-oval3-size;
  background: linear-gradient(-180deg, #FFBA3E 0%, #D04600 100%);
}
$header-oval4-size:60px;
.header-oval4{
  left: -195px;
  top: 15%;
  width: $header-oval4-size;
  height: $header-oval4-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
}
$header-oval5-size:445px;
.header-oval5{
  right: 0;
  bottom: -15%;
  width: $header-oval5-size;
  height: $header-oval5-size;
  background: linear-gradient(-180deg, #CDC36E 0%, #3C5230 100%);
}

// =====================================================
// skills oval
// =====================================================
$skills-oval1-size:80px;
.skills-oval1{
  left: -115px;
  top: 0;
  width: $skills-oval1-size;
  height: $skills-oval1-size;
  background: linear-gradient(-180deg, #C484F0 0%, #E04A9D 100%);
}

// =====================================================
// career oval
// =====================================================
$career-oval1-size:1200px;
.career-oval1{
  left: -280px;
  top: -65%;
  width: $career-oval1-size;
  height: $career-oval1-size;
  background: linear-gradient(-180deg, #A3D3D6 40%, #3A56CA 100%);
  z-index: -100;
  opacity: 0;
}
$career-oval2-size:310px;
.career-oval2{
  left: -70px;
  bottom: -0%;
  width: $career-oval2-size;
  height: $career-oval2-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
  z-index: 100;
}
$career-oval3-size:50px;
.career-oval3{
  left: 370px;
  bottom: 10%;
  width: $career-oval3-size;
  height: $career-oval3-size;
  background: linear-gradient(-180deg, #389B84 19%, #3EBAD0 100%);
  z-index: 100;
}
$career-oval4-size:90px;
.career-oval4{
  left: 500px;
  bottom: 20%;
  width: $career-oval4-size;
  height: $career-oval4-size;
  background: linear-gradient(-180deg, #FFBA3E 0%, #D04600 100%);
  z-index: 100;
}
$career-oval5-size:165px;
.career-oval5{
  left: 670px;
  top: 40%;
  width: $career-oval5-size;
  height: $career-oval5-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
}

// =====================================================
// works oval
// =====================================================
$works-oval1-size:75px;
.works-oval1{
  left: 1200px;
  top: 30px;
  width: $works-oval1-size;
  height: $works-oval1-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
  z-index: 500;
}
$works-oval2-size:230px;
.works-oval2{
  left: 1630px;
  top: -10%;
  width: $works-oval2-size;
  height: $works-oval2-size;
  background: linear-gradient(-180deg, #C484F0 0%, #E04A9D 100%);
  z-index: 500;
}
$works-oval3-size:45px;
.works-oval3{
  left: 1900px;
  bottom: 25%;
  width: $works-oval3-size;
  height: $works-oval3-size;
  background: linear-gradient(-180deg, #CDC36E 0%, #3C5230 100%);
  z-index: 100;
}
$works-oval4-size:150px;
.works-oval4{
  left: 2000px;
  bottom: 5%;
  width: $works-oval4-size;
  height: $works-oval4-size;
  background: linear-gradient(-180deg, #389B84 19%, #3EBAD0 100%);
  z-index: 100;
}
$works-oval5-size:90px;
.works-oval5{
  left: 3350px;
  bottom: 10%;
  width: $works-oval5-size;
  height: $works-oval5-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
  z-index: 100;
}
$works-oval6-size:150px;
.works-oval6{
  left: 3850px;
  bottom: 45%;
  width: $works-oval6-size;
  height: $works-oval6-size;
  background: linear-gradient(-180deg, #A3D3D6 0%, #3A56CA 99%);
  z-index: 500;
}
$works-oval7-size:75px;
.works-oval7{
  left: 4200px;
  top: 10%;
  width: $works-oval7-size;
  height: $works-oval7-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
  z-index: 100;
}
$works-oval8-size:170px;
.works-oval8{
  left: 4330px;
  top: -5%;
  width: $works-oval8-size;
  height: $works-oval8-size;
  background: linear-gradient(-180deg, #389B84 19%, #3EBAD0 100%);
  z-index: 100;
}
$works-oval9-size:50px;
.works-oval9{
  left: 4700px;
  bottom: 15%;
  width: $works-oval9-size;
  height: $works-oval9-size;
  background: linear-gradient(-180deg, #C484F0 0%, #E04A9D 100%);
  z-index: 100;
}
$works-oval10-size:280px;
.works-oval10{
  left: 4900px;
  bottom: 20%;
  width: $works-oval10-size;
  height: $works-oval10-size;
  background: linear-gradient(-180deg, #FFBA3E 0%, #D04600 100%);
  z-index: 100;
}
$works-oval11-size:1620px;
.works-oval11{
  left: 5100px;
  top: -30%;
  width: $works-oval11-size;
  height: $works-oval11-size;
  background: linear-gradient(-180deg, #A4CBCD 15%, #1FAEA5 69%);
}
$works-oval12-size:50px;
.works-oval12{
  left: 5520px;
  bottom: 20%;
  width: $works-oval12-size;
  height: $works-oval12-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
  z-index: 300;
}
$works-oval13-size:90px;
.works-oval13{
  left: 5420px;
  top: 20%;
  width: $works-oval13-size;
  height: $works-oval13-size;
  background: linear-gradient(-180deg, #CDC36E 0%, #3C5230 100%);
  z-index: 500;
}
$works-oval14-size:250px;
.works-oval14{
  left: 5450px;
  bottom: -10%;
  width: $works-oval14-size;
  height: $works-oval14-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
  z-index: 100;
}
$works-oval15-size:340px;
.works-oval15{
  left: 5750px;
  top: 25%;
  width: $works-oval15-size;
  height: $works-oval15-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
  z-index: 300;
}
$works-oval16-size:154px;
.works-oval16{
  left: 5750px;
  bottom: 17%;
  width: $works-oval16-size;
  height: $works-oval16-size;
  background: linear-gradient(-180deg, #A3D3D6 0%, #7BA5D9 95%);
  z-index: 200;
}
$works-oval17-size:220px;
.works-oval17{
  left: 6400px;
  top: 35%;
  width: $works-oval17-size;
  height: $works-oval17-size;
  background: linear-gradient(-180deg, #FFBA3E 0%, #D04600 100%);
  z-index: 700;
}
$works-oval18-size:70px;
.works-oval18{
  left: 6550px;
  top: 25%;
  width: $works-oval18-size;
  height: $works-oval18-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
  z-index: 700;
}
$works-oval19-size:240px;
.works-oval19{
  left: 6600px;
  top: 20%;
  width: $works-oval19-size;
  height: $works-oval19-size;
  background: linear-gradient(-180deg, #A3D3D6 0%, #3A56CA 99%);
  z-index: 300;
}
$works-oval20-size:690px;
.works-oval20{
  opacity: 1.0;
  left: 6300px;
  bottom: -13%;
  width: $works-oval20-size;
  height: $works-oval20-size;
  display: block;
  background: linear-gradient(-180deg, #C484F0 0%, #E04A9D 82%);
  z-index: 400;
  &::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgb(0, 0, 0);
    transition: all .5s ease 0s;
  }
  &:hover{
    &::after{
      opacity: 0.5;
    }
  }
}

// =====================================================
// contact oval
// =====================================================
$contact-oval1-size:420px;
.contact-oval1{
  left: -20px;
  top: -18%;
  width: $contact-oval1-size;
  height: $contact-oval1-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
  z-index: 400;
}
$contact-oval2-size:200px;
.contact-oval2{
  left: -90px;
  top: 42%;
  width: $contact-oval2-size;
  height: $contact-oval2-size;
  background: linear-gradient(-180deg, #D8CD9C 0%, #7E703C 100%);
  z-index: 390;
}
$contact-oval3-size:115px;
.contact-oval3{
  left: 160px;
  bottom: 15%;
  width: $contact-oval3-size;
  height: $contact-oval3-size;
  background: linear-gradient(-180deg, #389B84 19%, #3EBAD0 100%);
  z-index: 0;
}
$contact-oval4-size:165px;
.contact-oval4{
  left: 545px;
  bottom: -2%;
  width: $contact-oval4-size;
  height: $contact-oval4-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
  z-index: 0;
  opacity: 0;
}
$contact-oval5-size:165px;
.contact-oval5{
  left: 660px;
  top: 15%;
  width: $contact-oval5-size;
  height: $contact-oval5-size;
  background: linear-gradient(-180deg, #FFBA3E 0%, #D04600 100%);
  z-index: 0;
  opacity: 0;
}

// =====================================================
// gnav oval
// =====================================================
$gnav-oval1-size:380px;
.gnav-oval1{
  left: 90px;
  top: -18%;
  width: $gnav-oval1-size;
  height: $gnav-oval1-size;
  background: linear-gradient(-180deg, #BA18CC 3%, #002F76 100%);
  z-index: 400;
  opacity: 0;
  animation: vertical3 1s ease-in-out infinite alternate, animation01 5s ease 2s 1 normal, animation02 3s ease 7s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
$gnav-oval2-size:120px;
.gnav-oval2{
  right: 80px;
  bottom: 30%;
  width: $gnav-oval2-size;
  height: $gnav-oval2-size;
  background: linear-gradient(-180deg, #D8CD9C 0%, #7E703C 100%);
  z-index: 300;
  opacity: 0;
  animation: vertical1 1s ease-in-out infinite alternate, animation01 5s ease 3s 1 normal, animation02 4s ease 7s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}
$gnav-oval3-size:70px;
.gnav-oval3{
  left: 100px;
  bottom: 15%;
  width: $gnav-oval3-size;
  height: $gnav-oval3-size;
  background: linear-gradient(-180deg, #389B84 19%, #3EBAD0 100%);
  z-index: 0;
  animation: vertical2 1s ease-in-out infinite alternate, animation01 3s ease 1s 1 normal, animation02 4s ease 4s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
$gnav-oval4-size:200px;
.gnav-oval4{
  right: 300px;
  bottom: -2%;
  width: $gnav-oval4-size;
  height: $gnav-oval4-size;
  background: linear-gradient(-180deg, #FFBBA6 0%, #FF5174 100%);
  z-index: 0;
  opacity: 0;
  animation: vertical3 1s ease-in-out infinite alternate, animation01 5s ease 1s 1 normal, animation02 4s ease 6s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
$gnav-oval5-size:250px;
.gnav-oval5{
  right: -15px;
  top: 13%;
  width: $gnav-oval5-size;
  height: $gnav-oval5-size;
  background: linear-gradient(-180deg, #FFBA3E 0%, #D04600 100%);
  z-index: 0;
  opacity: 0;
  animation: vertical1 1s ease-in-out infinite alternate, animation01 3s ease 1s 1 normal, animation02 4s ease 4s infinite alternate-reverse;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

// =====================================================
// media screen max-height960px
// =====================================================
@media screen and (max-height: 960px) {
  //header-oval1-------------------------------------------
  $header-oval1-size:580px;
  .header-oval1{
  width: $header-oval1-size;
  height: $header-oval1-size;
  }
  //header-oval3-------------------------------------------
  $header-oval3-size:280px;
  .header-oval3{
    width: $header-oval3-size;
    height: $header-oval3-size;
  }
  //works-oval1-------------------------------------------
  $works-oval1-size:75px;
  .works-oval1{
    top: 10px;
  }
  //works-oval6-------------------------------------------
  .works-oval6{
    left: 3960px;
    bottom: 47%;
  }
  //works-oval15-------------------------------------------
  $works-oval15-size:280px;
  .works-oval15{
    width: $works-oval15-size;
    height: $works-oval15-size;
  }
  //works-oval17-------------------------------------------
  $works-oval17-size:180px;
  .works-oval17{
    width: $works-oval17-size;
    height: $works-oval17-size;
  }
  //contact-oval2-------------------------------------------
  $contact-oval2-size:140px;
  .contact-oval2{
    width: $contact-oval2-size;
    height: $contact-oval2-size;
    z-index: 300;
  }
}
// =====================================================
// media screen max-height900px
// =====================================================
@media screen and (max-height: 900px) {
  //header-oval2-------------------------------------------
  $header-oval2-size:100px;
  .header-oval2{
    left: -20px;
    width: $header-oval2-size;
    height: $header-oval2-size;
  }
  //header-oval5-------------------------------------------
  $header-oval5-size:380px;
  .header-oval5{
    width: $header-oval5-size;
    height: $header-oval5-size;
  }
  //career-oval2-------------------------------------------
  .career-oval2{
    //bottom: -175%;
  }
  //career-oval3-------------------------------------------
  .career-oval3{
    //bottom: -135%;
  }
  //works-oval1-------------------------------------------
  .works-oval1{
    left: 1200px;
    top: -45px;
  }
  //works-oval10-------------------------------------------
  .works-oval10{
    left: 5050px;
    bottom: 30%;
  }
  //works-oval13-------------------------------------------
  .works-oval13{
    left: 5350px;
    top: 20%;
  }
  //works-oval17-------------------------------------------
  $works-oval17-size:150px;
  .works-oval17{
    left: 6350px;
    top: 21%;
    width: $works-oval17-size;
    height: $works-oval17-size;
  }
  //works-oval19-------------------------------------------
  $works-oval19-size:240px;
  .works-oval19{
    left: 6600px;
    top: 8%;
    width: $works-oval19-size;
    height: $works-oval19-size;
  }
  //contact-oval1-------------------------------------------
  $contact-oval1-size:340px;
  .contact-oval1{
    top: -18%;
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }
}
// =====================================================
// media screen max-height800px
// =====================================================
@media screen and (max-height: 800px) {
  //header-oval1-------------------------------------------
  $header-oval1-size:560px;
  .header-oval1{
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //header-oval3-------------------------------------------
  $header-oval3-size:200px;
  .header-oval3{
    width: $header-oval3-size;
    height: $header-oval3-size;
  }
  //header-oval5-------------------------------------------
  $header-oval5-size:300px;
  .header-oval5{
    width: $header-oval5-size;
    height: $header-oval5-size;
  }
  //career-oval1-------------------------------------------
  $header-oval1-size:1100px;
  .career-oval1{
    // left: -260px;
    // top: -220%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //career-oval2-------------------------------------------
  .career-oval2{
    // bottom: -150%;
  }
  //career-oval3-------------------------------------------
  .career-oval3{
    // bottom: -110%;
  }
  //career-oval4-------------------------------------------
  .career-oval4{
    // bottom: -130%;
  }
  //career-oval5-------------------------------------------
  $career-oval5-size:160px;
  .career-oval5{
    left: 690px;
    // top: 75%;
    width: $career-oval5-size;
    height: $career-oval5-size;
  }
  //works-oval1-------------------------------------------
  .works-oval1{
    left: 1080px;
    top: -15px;
  }
  //works-oval2-------------------------------------------
  .works-oval2{
    left: 1680px;
    top: -10%;
  }
  //works-oval6-------------------------------------------
  $works-oval6-size:130px;
  .works-oval6{
    left: 4000px;
    width: $works-oval6-size;
    height: $works-oval6-size;
  }
  //works-oval9-------------------------------------------
  $works-oval9-size:50px;
  .works-oval9{
    left: 4450px;
    bottom: 15%;
  }
  //works-oval10-------------------------------------------
  $works-oval10-size:200px;
  .works-oval10{
    left: 5100px;
    bottom: 60%;
    width: $works-oval10-size;
    height: $works-oval10-size;
  }
  //works-oval15-------------------------------------------
  $works-oval15-size:300px;
  .works-oval15{
    left: 5750px;
    top: 28%;
    width: $works-oval15-size;
    height: $works-oval15-size;
  }
  //works-oval16-------------------------------------------
  $works-oval16-size:120px;
  .works-oval16{
    left: 5750px;
    bottom: 17%;
    width: $works-oval16-size;
    height: $works-oval16-size;
  }
  //works-oval17-------------------------------------------
  $works-oval17-size:120px;
  .works-oval17{
    left: 6350px;
    top: 24%;
    width: $works-oval17-size;
    height: $works-oval17-size;
  }
  //works-oval19-------------------------------------------
  $works-oval19-size:240px;
  .works-oval19{
    left: 6600px;
    top: 5%;
    width: $works-oval19-size;
    height: $works-oval19-size;
  }
  //contact-oval1-------------------------------------------
  $contact-oval1-size:300px;
  .contact-oval1{
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }
  //contact-oval3-------------------------------------------
  .contact-oval3{
    bottom: -1%;
    width: $contact-oval3-size;
    height: $contact-oval3-size;
  }
  //contact-oval5-------------------------------------------
  .contact-oval5{
    left: 660px;
  }
}

// =====================================================
// media screen max-height700px
// =====================================================
@media screen and (max-height: 700px) {
  //header-oval1-------------------------------------------
  $header-oval1-size:580px;
  .header-oval1{
    left: 5%;
    top: -61%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //header-oval4-------------------------------------------
  $header-oval4-size:40px;
  .header-oval4{
    width: $header-oval4-size;
    height: $header-oval4-size;
  }
  //header-oval5-------------------------------------------
  $header-oval5-size:320px;
  .header-oval5{
    width: $header-oval5-size;
    height: $header-oval5-size;
  }
  //career-oval1-------------------------------------------
  $career-oval1-size:900px;
  .career-oval1{
    left: -200px;
    width: $career-oval1-size;
    height: $career-oval1-size;
  }
  //career-oval2-------------------------------------------
  $career-oval2-size:260px;
  .career-oval2{
    left: -200px;
    width: $career-oval2-size;
    height: $career-oval2-size;
  }
  //works-oval1-------------------------------------------
  .works-oval1{
    left: 940px;
    top: -45px;
  }
  //works-oval2-------------------------------------------
  .works-oval2{
    left: 1460px;
    top: -5%;
    z-index: auto;
  }
  //works-oval3-------------------------------------------
  .works-oval3{
    left: 1750px;
    bottom: 25%;
  }
  //works-oval4-------------------------------------------
  .works-oval4 {
    left: 1840px;
    bottom: 5%;
  }
  //works-oval5-------------------------------------------
  .works-oval5{
    left: 3030px;
  }
  //works-oval6-------------------------------------------
  $works-oval6-size:100px;
  .works-oval6{
    left: 3700px;
    bottom: 68%;
    width: $works-oval6-size;
    height: $works-oval6-size;
  }
  //works-oval7-------------------------------------------
  .works-oval7{
    left: 4045px;
    top: 3%;
  }
  //works-oval8-------------------------------------------
  .works-oval8{
    left: 4200px;
    top: -10%;
  }
  //works-oval9-------------------------------------------
  $works-oval9-size:50px;
  .works-oval9{
    left: 4440px;
    bottom: 15%;
    width: $works-oval9-size;
    height: $works-oval9-size;
  }
  //works-oval10-------------------------------------------
  .works-oval10{
    left: 5110px;
    bottom: 75%;
  }
  //works-oval11-------------------------------------------
  .works-oval11{
    left: 5150px;
    top: -70%;
    width: 1500px;
    height: 1500px;
  }
  //works-oval12-------------------------------------------
  .works-oval12{
    left: 5200px;
    bottom: 43%;
  }
  //works-oval13-------------------------------------------
  .works-oval13{
    left: 5400px;
    top: 38%;
  }
  //works-oval14-------------------------------------------
  $works-oval14-size:200px;
  .works-oval14{
    left: 5570px;
    bottom: 10%;
    width: $works-oval14-size;
    height: $works-oval14-size;
  }
  //works-oval15-------------------------------------------
  .works-oval15{
    left: 5700px;
    top: 10%;
  }
  //works-oval16-------------------------------------------
  $works-oval16-size:80px;
  .works-oval16{
    left: 5955px;
    bottom: 17%;
    width: $works-oval16-size;
    height: $works-oval16-size;
  }
  //works-oval17-------------------------------------------
  .works-oval17{
    top: 50%;
    left: 6220px;
  }
  //works-oval18-------------------------------------------
  .works-oval18{
    left: 6360px;
  }
  //works-oval19-------------------------------------------
  .works-oval19{
    left: 6410px;
    top: -6%;
  }
  //works-oval20-------------------------------------------
  $works-oval20-size:550px;
  .works-oval20{
    left: 6370px;
    bottom: -1%;
    width: $works-oval20-size;
    height: $works-oval20-size;
  }
  //contact-oval1-------------------------------------------
  $contact-oval1-size:250px;
  .contact-oval1{
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }
  //contact-oval2-------------------------------------------
  .contact-oval2{
    left: 0px;
    bottom: -1%;
  }
  //contact-oval4-------------------------------------------
  .contact-oval4{
    left: 435px;
  }
  //contact-oval5-------------------------------------------
  .contact-oval5{
    left: 500px;
  }
}

// =====================================================
// media screen max-height600px
// =====================================================
@media screen and (max-height: 600px) {
  //career-oval1-------------------------------------------
  .career-oval1 {
    left: -150px;
    width: 800px;
    height: 800px;
  }
  //career-oval2-------------------------------------------
  $career-oval2-size:200px;
  .career-oval2{
    width: $career-oval2-size;
    height: $career-oval2-size;
  }
}
// =====================================================
// media screen max-height500px
// =====================================================
@media screen and (max-height: 500px) {
  //header-oval1-------------------------------------------
  $header-oval1-size:530px;
  .header-oval1{
    top: -80%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //header-oval3-------------------------------------------
  $header-oval3-size:170px;
  .header-oval3{
    bottom: 0%;
    left: 20px;
    width: $header-oval3-size;
    height: $header-oval3-size;
  }
  //header-oval5-------------------------------------------
  $header-oval5-size:250px;
  .header-oval5{
    width: $header-oval5-size;
    height: $header-oval5-size;
  }
}

// =====================================================
// media screen max-width800px
// =====================================================
@media screen and (max-width: 800px) {
  //header-oval1-------------------------------------------
  $header-oval1-size:650px;
  .header-oval1{
    left: 28%;
    top: -35%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //header-oval2-------------------------------------------
  $header-oval2-size:160px;
  .header-oval2{
    left: -40px;
    top: 20%;
    width: $header-oval2-size;
    height: $header-oval2-size;
  }
  //header-oval3-------------------------------------------
  $header-oval3-size:230px;
  .header-oval3{
    bottom: 14%;
    left: -40px;
    width: $header-oval3-size;
    height: $header-oval3-size;
  }
  //header-oval4-------------------------------------------
  $header-oval4-size:60px;
  .header-oval4{
    left: 30%;
    top: 0;
    width: $header-oval4-size;
    height: $header-oval4-size;
  }
  //header-oval5-------------------------------------------
  $header-oval5-size:100px;
  .header-oval5{
    right: -1%;
    bottom: 20px;
    width: $header-oval5-size;
    height: $header-oval5-size;
  }
  //skills-oval1-------------------------------------------
  $skills-oval1-size:80px;
  .skills-oval1{
    left: 40%;
    top: 50px;
    width: $skills-oval1-size;
    height: $skills-oval1-size;
  }
  //career-oval1-------------------------------------------
  $career-oval1-size:700px;
  .career-oval1{
    left: auto;
    right: -5%;
    top: 700px;
    width: $career-oval1-size;
    height: $career-oval1-size;
    background: linear-gradient(-180deg, #A3D3D6 10%, #3A56CA 100%);
  }
  //career-oval2-------------------------------------------
  $career-oval2-size:100px;
  .career-oval2{
    left: auto;
    right: -3%;
    top: 600px;
    width: $career-oval2-size;
    height: $career-oval2-size;
  }
  //career-oval3-------------------------------------------
  $career-oval3-size:50px;
  .career-oval3{
    left: auto;
    right: 3%;
    top: 1300px;
    width: $career-oval3-size;
    height: $career-oval3-size;
  }
  //career-oval4-------------------------------------------
  $career-oval4-size:80px;
  .career-oval4{
    left: 35%;
    top: 1270px;
    width: $career-oval4-size;
    height: $career-oval4-size;
  }
  //career-oval5-------------------------------------------
  $career-oval5-size:80px;
  .career-oval5 {
    width: $career-oval5-size;
    height: $career-oval5-size;
    left: auto;
    top: 1380px;
    right: 15%;
  }

  //works-oval1-------------------------------------------
  $works-oval1-size:140px;
  .works-oval1{
    left: auto;
    right: 5%;
    top: 220px;
    width: $works-oval1-size;
    height: $works-oval1-size;
  }

  //works-oval2-------------------------------------------
  $works-oval2-size:100px;
  .works-oval2{
    left: 5%;
    top: 680px;
    width: $works-oval2-size;
    height: $works-oval2-size;
  }

  //works-oval3-------------------------------------------
  .works-oval3{
    left: 20%;
    top: 830px;
  }

  //works-oval4-------------------------------------------
  $works-oval4-size:200px;
  .works-oval4 {
    left: auto;
    top: 1270px;
    right: -2.5%;
    width: $works-oval4-size;
    height: $works-oval4-size;
  }

  //works-oval5-------------------------------------------
  .works-oval5{
    left: auto;
    right: 25%;
    top: 1430px;
  }

  //works-oval6-------------------------------------------
  .works-oval6{
    left: 5%;
    top: 1940px;
  }

  //works-oval7-------------------------------------------
  .works-oval7{
    left: 30%;
    top: 2065px;
  }

  //works-oval8-------------------------------------------
  .works-oval8{
    left: auto;
    right: -7%;
    top: 2330px;
  }

  //works-oval9-------------------------------------------
  .works-oval9{
    left: 7%;
    top: 2750px;
  }

  //works-oval10-------------------------------------------
  $works-oval10-size:180px;
  .works-oval10{
    left: auto;
    right: 3%;
    top: 2830px;
    width: $works-oval10-size;
    height: $works-oval10-size;
  }

  //works-oval11~20-------------------------------------------
  @for $i from 11 through 20 {
    .works-oval#{$i} {
      display: none;
    }
  }
  //contact-oval1-------------------------------------------
  $contact-oval1-size:200px;
  .contact-oval1{
    left: -2%;
    top: -80px;
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }

  //contact-oval2-------------------------------------------
  $contact-oval2-size:100px;
  .contact-oval2{
    left: auto;
    right: 8%;
    top: 60px;
    width: $contact-oval2-size;
    height: $contact-oval2-size;
  }

  //contact-oval3-------------------------------------------
  .contact-oval3{
    bottom: 15%;
    left: 8%;
    top: auto;
  }

  //contact-oval4-------------------------------------------
  .contact-oval4{
    left: auto;
    right: 2%;
    top: 350px;
  }

  //contact-oval5-------------------------------------------
  $contact-oval5-size:230px;
  .contact-oval5 {
    left: 370px;
    top: auto;
    bottom:2px;
    width: $contact-oval5-size;
    height: $contact-oval5-size;
  }
}

// =====================================================
// media screen max-width720px
// =====================================================
@media screen and (max-width: 720px) {
  //works-oval4-------------------------------------------
  .works-oval4 {
    left: auto;
    top: 1350px;
    right: -2.5%;
    width: $works-oval4-size;
    height: $works-oval4-size;
  }
  //works-oval5-------------------------------------------
  $works-oval5-size:70px;
  .works-oval5{
    right: 20%;
    top: 1570px;
    width: $works-oval5-size;
    height: $works-oval5-size;
  }
  //works-oval7-------------------------------------------
  .works-oval7{
    top: 2045px;
  }
  //career-oval1-------------------------------------------
  $career-oval1-size:650px;
  .career-oval1{
    right: -3%;
    top: 650px;
    width: $career-oval1-size;
    height: $career-oval1-size;
  }
  //contact-oval4-------------------------------------------
  $contact-oval4-size:130px;
  .contact-oval4{
    width: $contact-oval4-size;
    height: $contact-oval4-size;
  }
  //contact-oval5-------------------------------------------
  .contact-oval5 {
    left: 310px;
  }
}
// =====================================================
// media screen max-width700px
// =====================================================
@media screen and (max-width: 700px) {
  //header-oval3-------------------------------------------
  $header-oval3-size:180px;
  .header-oval3{
    width: $header-oval3-size;
    height: $header-oval3-size;
  }

  //header-oval4-------------------------------------------
  $header-oval4-size:40px;
  .header-oval4{
    left: 33%;
    top: 5px;
    width: $header-oval4-size;
    height: $header-oval4-size;
  }
  .works-oval10{
    right: -10%;
  }
}

// =====================================================
// media screen max-width640px
// =====================================================
@media screen and (max-width: 640px) {
  .career-oval1{
    top: 690px;
  }
}

// =====================================================
// media screen max-width620px
// =====================================================
@media screen and (max-width: 620px) {
  .career-oval1{
    top: 730px;
  }
}
// =====================================================
// media screen max-width600px
// =====================================================
@media screen and (max-width: 600px) {
  //career-oval2-------------------------------------------
  $career-oval2-size:150px;
  .career-oval2{
    top: 650px;
    width: $career-oval2-size;
    height: $career-oval2-size;
  }
  .works-oval1{
    right: -10%;
    top: 210px;
  }
  .works-oval5{
    right: 8%;
  }
  .works-oval6 {
    left: -1%;
    top: 1910px;
  }
  $works-oval7-size:50px;
  .works-oval7{
    left: 26%;
    top: 2045px;
    width: $works-oval7-size;
    height: $works-oval7-size;
  }
  $works-oval10-size:130px;
  .works-oval10{
    width: $works-oval10-size;
    height: $works-oval10-size;
  }
  .contact-oval3 {
    bottom: 15%;
    left: 2%;
    top: auto;
  }
  $contact-oval5-size:150px;
  .contact-oval5{
    width: $contact-oval5-size;
    height: $contact-oval5-size;
  }
}
// =====================================================
// media screen max-width590px
// =====================================================
@media screen and (max-width: 590px) {
  .career-oval1 {
    top: 750px;
  }
}

// =====================================================
// media screen max-width550px
// =====================================================
@media screen and (max-width: 550px) {
  $header-oval1-size:560px;
  .header-oval1{
    top: -30%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  .skills-oval1{
    left: 50%;
  }
  //contact-oval4-------------------------------------------
  $contact-oval4-size:80px;
  .contact-oval4{
    width: $contact-oval4-size;
    height: $contact-oval4-size;
  }
  .works-oval1{
    top: 190px;
  }
  .works-oval4{
    top: 1260px;
    right: -8.5%;
  }
  .works-oval5{
    right: 5%;
    top: 1480px;
  }
  .works-oval7 {
    left: 28%;
    top: 2025px;
  }
  .works-oval10 {
    top: 2860px;
  }
  .works-oval9 {
    top: 2800px;
  }
}

// =====================================================
// media screen max-width503px
// =====================================================
@media screen and (max-width: 503px) {
  .career-oval1{
    top: 790px;
  }
  //career-oval2-------------------------------------------
  $career-oval2-size:50px;
  .career-oval2{
    top: 800px;
    right: 7%;
    width: $career-oval2-size;
    height: $career-oval2-size;
  }
  .career-oval3 {
    top: 1340px;
  }
  .career-oval4 {
    top: 1390px;
  }
  .works-oval5 {
    right: 24%;
    top: 1420px;
  }
  .works-oval1 {
    top: 220px;
  }
  .works-oval2 {
    left: -4%;
    top: 740px;
  }
  .works-oval3 {
    left: 15%;
    top: 826px;
  }
}

// =====================================================
// media screen max-width460px
// =====================================================
@media screen and (max-width: 460px) {
  //works-oval1-------------------------------------------
  $works-oval1-size:120px;
  .works-oval1{
    width: $works-oval1-size;
    height: $works-oval1-size;
  }
  .works-oval2 {
    left: -4%;
    top: 670px;
  }
  .works-oval3 {
    left: 20%;
    top: 765px;
  }
  .works-oval5 {
    right: 25%;
    top: 1430px;
  }
  .works-oval6 {
    left: -3%;
    top: 1950px;
  }
  .works-oval7 {
    left: 35%;
    top: 2055px;
  }
  .works-oval8 {
    right: -10%;
    top: 2370px;
  }
  .works-oval9 {
    top: 2550px;
  }
  .works-oval10 {
    top: 2900px;
  }
}
// =====================================================
// media screen max-width431px
// =====================================================
@media screen and (max-width: 431px) {
  .skills-oval1 {
    left: 60%;
  }
  .career-oval2 {
    top: 780px;
  }
  .works-oval4 {
    top: 1370px;
  }
  .works-oval5 {
    right: 32%;
    top: 1479px;
  }
  $works-oval8-size:120px;
  .works-oval8{
    top: 2440px;
    width: $works-oval8-size;
    height: $works-oval8-size;
  }
  //contact-oval1-------------------------------------------
  $contact-oval1-size:180px;
  .contact-oval1{
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }
  .contact-line-oval1{
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }
}

// =====================================================
// media screen max-width415px
// =====================================================
@media screen and (max-width: 415px) {
  //works-oval1-------------------------------------------
  $works-oval1-size:100px;
  .works-oval1{
    right: -10%;
    top: 280px;
    width: $works-oval1-size;
    height: $works-oval1-size;
  }
  .works-line-oval1{
    right: -10%;
    top: 280px;
    width: $works-oval1-size;
    height: $works-oval1-size;
  }
}

// =====================================================
// media screen max-width400px
// =====================================================
@media screen and (max-width: 400px) {
  $header-oval1-size:450px;
  .header-oval1{
    left: 20%;
    top: -24%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //header-oval2-------------------------------------------
  $header-oval2-size:130px;
  .header-oval2{
    width: $header-oval2-size;
    height: $header-oval2-size;
  }
  .header-line-oval2{
    width: $header-oval2-size;
    height: $header-oval2-size;
  }
  .skills-oval1 {
    top: 10px;
  }
  .career-oval1 {
    right: -30%;
    top: 770px;
  }
  .career-oval2 {
    top: 710px;
  }
  .career-oval3 {
    top: 1340px;
  }
  .career-oval4 {
    left: 26%;
    top: 1360px;
  }
  .works-oval5 {
    right: 24%;
    top: 1360px;
  }
  .works-oval1 {
    top: 225px;
  }
  .works-oval2 {
    top: 740px;
  }
  .works-oval3 {
    left: 27%;
    top: 815px;
  }
  .works-oval5 {
    right: 37%;
    top: 1456px;
  }
  .works-oval8 {
    top: 2430px;
  }
  .works-oval10 {
    top: 2950px;
    right: -16%;
  }
  .contact-oval4 {
    width: 60px;
    height: 60px;
  }
  .contact-oval3 {
    left: -4%;
  }
  $contact-oval5-size:130px;
  .contact-oval5{
    left: 210px;
    width: $contact-oval5-size;
    height: $contact-oval5-size;
  }
}
// =====================================================
// media screen max-width370px
// =====================================================
@media screen and (max-width: 370px) {
  $header-oval1-size:350px;
  .header-oval1{
    left: 25%;
    top: -12%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  //header-oval2-------------------------------------------
  $header-oval2-size:80px;
  .header-oval2{
    left: -10px;
    top: 35%;
    width: $header-oval2-size;
    height: $header-oval2-size;
  }
  .career-oval1 {
    top: 1085px;
  }
  .career-oval2 {
    top: 1020px;
  }
  .career-oval3 {
    top: 1600px;
  }
  .career-oval4 {
    top: 1670px;
  }
  .career-oval5 {
    top: 1700px;
  }
  .works-oval2 {
    left: 56%;
    top: 780px;
  }
  .works-oval3 {
    left: 93%;
    top: 865px;
  }
  .works-oval4 {
    right: -20%;
  }
  .works-oval8 {
    top: 2500px;
  }
  .works-oval9 {
    top: 2510px;
  }
  .works-oval10 {
    top: 2970px;
  }
}

// =====================================================
// media screen max-width330px
// =====================================================
@media screen and (max-width: 330px) {
  .header-oval1{
    z-index: 45;
  }
  .header-oval2{
    left: 200px;
    top: 10%;
    z-index: 50;
  }

  //header-oval3-------------------------------------------
  $header-oval3-size:150px;
  .header-oval3{
    bottom: 6%;
    width: $header-oval3-size;
    height: $header-oval3-size;
  }
  //skills-oval1-------------------------------------------
  $skills-oval1-size:60px;
  .skills-oval1{
    width: $skills-oval1-size;
    height: $skills-oval1-size;
  }
  //works-oval1-------------------------------------------
  $works-oval1-size:70px;
  .works-oval1{
    right: 5%;
    top: 290px;
    width: $works-oval1-size;
    height: $works-oval1-size;
  }
  //career-oval4-------------------------------------------
  $career-oval4-size:50px;
  .career-oval4{
    left: 15%;
    top: 1710px;
    width: $career-oval4-size;
    height: $career-oval4-size;
  }
  $contact-oval1-size:150px;
  .contact-oval1{
    width: $contact-oval1-size;
    height: $contact-oval1-size;
  }
  $contact-oval2-size:80px;
  .contact-oval2{
    width: $contact-oval2-size;
    height: $contact-oval2-size;
  }
  $contact-oval3-size:60px;
  .contact-oval3{
    width: $contact-oval3-size;
    height: $contact-oval3-size;
  }
  $contact-oval4-size:40px;
  .contact-oval4{
    width: $contact-oval4-size;
    height: $contact-oval4-size;
  }
  $contact-oval5-size:110px;
  .contact-oval5{
    width: $contact-oval5-size;
    height: $contact-oval5-size;
  }
}

// =====================================================
// media screen max-width800px && max-height: 500px
// =====================================================
@media screen and (max-width: 800px) and (max-height: 500px) {
  $header-oval1-size:400px;
  .header-oval1 {
    left: 52%;
    top: -14%;
    width: $header-oval1-size;
    height: $header-oval1-size;
  }
  $header-oval2-size:120px;
  .header-oval2 {
    left: -30px;
    top: 30%;
    width: $header-oval2-size;
    height: $header-oval2-size;
  }
  $header-oval3-size:70px;
  .header-oval3 {
    bottom: 0%;
    left: 16px;
    width: $header-oval3-size;
    height: $header-oval3-size;
  }
  $header-oval5-size:80px;
  .header-oval5 {
    right: 3%;
    bottom: 10px;
    width: $header-oval5-size;
    height: $header-oval5-size;
  }
  .contact-oval4 {
    width: 70px;
    height: 70px;
  }
}
